# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sfdx/
.localdevserver/

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# SOQL Query Results
**/scripts/soql/query-results

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
force-app/main/default/objects/Case/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

force-app/main/default/classes/a.cls
force-app/main/default/classes/a.cls-meta.xml
force-app/main/default/classes/HelloWorld.cls
force-app/main/default/classes/HelloWorld.cls-meta.xml
force-app/main/default/pages/ApplyToolkit.page
force-app/main/default/classes/StudentAidController.cls
force-app/main/default/classes/StudentAidController.cls-meta.xml
force-app/main/default/pages/ApplyToolkit.page-meta.xml
force-app/main/default/triggers/AppleWatch.trigger
force-app/main/default/triggers/AppleWatch.trigger-meta.xml
force-app/main/default/triggers/hello.trigger
force-app/main/default/triggers/hello.trigger-meta.xml
force-app/main/default/triggers/NonExistentId.trigger
force-app/main/default/triggers/NonExistentId.trigger-meta.xml
